<div style="width: 1200px;">
  <h1>Grid Example</h1>
  <div style="padding: 4px;" class="toolbar">
    <label>
      <input type="checkbox" (change)="onChange($event)"/>
      Show Tool Panel
    </label>
    <button (click)="createRowData()">Refresh Data</button>
    <button (click)="expandCopllpseGroups()">Expand / Collapse groups</button>
  </div>
  <div style="clear: both;"></div>
  <ag-grid-angular  style="width: 100%; height: 450px;" class="ag-fresh"
                    [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs"
                    [rowData]="rowData"
                    enableColResize
                    enableSorting
                    enableFilter
                    groupHeaders
                    suppressRowClickSelection
                    toolPanelSuppressGroups
                    toolPanelSuppressValues
                    rowHeight="22"
                    rowSelection="multiple"
                    (modelUpdated)="onModelUpdated()"
                    (columnGroupOpened)="onColumnRowGroupOpened($event)"
                    (columnRowGroupChanged)="onColumnRowGroupChanged($event)"
                    (cellContextMenu)="onCellContextMenu($event)">
  </ag-grid-angular>
</div>
